.container {
  background-color: var(--white);
  width: 100vw;
  max-width: 408px;
  border-radius: 16px 16px 0 0;
  padding: 24px;
}

@media (min-width: 900px){
  .container {
    max-width: 790px;
    display: flex;
    border-radius: 16px;
  }
}