body {
  background-color: var(--light-grayish-cyan-a);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.home > img {
  display: block;
  margin: 0 auto 32px auto;
}